* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  background: rgb(225, 255, 143);
  background-image: url(img/bg-head-l.svg), url(img/bg-head-r.svg);
  background-repeat: no-repeat;
  background-position: 5% 69px, top -350px right -480px;
  background-attachment: fixed;
  height: 710px;
  color: rgb(32, 32, 39);
  font-family: inherit;
  letter-spacing: 0px;
  text-align: left;
  position: relative;
}
.top__content {
  width: 768px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding-top: 196px;
}
.top__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  z-index: 2;
}
.top__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 24px;
  z-index: 2;
}
.top__btn {
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  padding: 16px 28px;
  width: 247px;
  cursor: pointer;
  z-index: 2;
}

.line {
  background: rgb(188, 236, 48);
  height: 90px;
  z-index: 2;
}

.head_title {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
}
.head_text {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  width: 788px;
}

.about {
  background: rgb(32, 32, 39);
  background-image: url(img/bg-about-l.svg), url(img/bg-about-r.svg);
  background-repeat: no-repeat;
  background-position: 25px 770px, top 100px right -110px;
  border-bottom: 0.5px solid rgb(70, 87, 18);
}
.about__content {
  padding-top: 94px;
  padding-bottom: 50px;
}
.about__head {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  color: rgb(255, 255, 255);
  font-family: inherit;
  text-align: left;
  gap: 24px;
  padding-bottom: 72px;
}
.about__game {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  min-height: 473px;
  border-radius: 30px;
  color: rgb(32, 32, 39);
  font-family: inherit;
  text-align: left;
  transition: all 0.5s;
}
.about__game-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.about__game_column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.about__game_img {
  border-radius: 30px;
  height: 314px;
  background-repeat: no-repeat;
  background-position: center;
}
.about__game_content {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 32px 36px 32px;
}
.about__game_number {
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  width: 108px;
  padding: 8px 16px;
}
.about__game_name {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
}

.mini-game {
  background: rgb(32, 32, 39);
  background-image: url(img/bg-game-top.svg), url(img/bg-game-bot.svg);
  background-repeat: no-repeat;
  background-position: top 93px right 45px, bottom 45px right 52px;
}
.mini-game__content {
  padding-top: 46px;
  padding-bottom: 144px;
}
.mini-game__head {
  color: rgb(255, 255, 255);
  font-family: inherit;
  text-align: left;
  padding-bottom: 72px;
}

.game {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: rgb(32, 32, 39);
  font-family: inherit;
  text-align: left;
}
.game__info {
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.game_img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
  border-radius: 30px;
}
.game_img-1 {
  background-color: rgb(173, 97, 255);
  background-image: url(img/bg-game-1.svg);
}
.game_img-2 {
  background-color: rgb(253, 173, 0);
  background-image: url(img/bg-game-2.svg);
}
.game_img-3 {
  background-color: rgb(86, 94, 239);
  background-image: url(img/bg-game-3.svg);
}
.game_img-4 {
  background-color: rgb(39, 26, 88);
  background-image: url(img/bg-game-4.svg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.game_img-4-c {
  font-size: 82px;
  transform: rotate(10deg);
}
.game_img-4-t {
  font-size: 128px;
  transform: rotate(10deg);
}
.game_img-5 {
  background-color: rgb(153, 209, 0);
  background-image: url(img/bg-game-5.svg);
}
.game_img-6 {
  background-color: rgb(39, 26, 88);
  background-image: url(img/bg-game-6.svg);
}
.game-box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 32px;
}
.game__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
}
.game__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
.game__btn {
  border-radius: 60px;
  background: rgb(32, 32, 39);
  border: 1px solid rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  padding: 16px 28px;
  width: 247px;
  margin-top: 12px;
}

.footer {
  background: rgb(189, 237, 53);
  min-height: 150px;
  display: flex;
  justify-content: center;
  padding-top: 61px;
}
.footer__text {
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
}

button, .about__game {
  transition: all 0.5s;
}

button:hover, .about__game:hover {
  transform: scale(1.1);
}

button:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */